<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ydh.redsheep.database.mapper.UserMapper">

    <!--查询单个-->
    <select id="queryById" resultType="userPO">
        select id,name,age,email,birth_day,version,is_deleted
        from user
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultType="userPO">
        select
        id,name,age,email,birth_day,version,is_deleted
        from user
        <where>
            <if test="entity.id != null">
                and id = #{entity.id}
            </if>
            <if test="entity.name != null and entity.name != ''">
                and name = #{entity.name}
            </if>
            <if test="entity.age != null">
                and age = #{entity.age}
            </if>
            <if test="entity.email != null and entity.email != ''">
                and email = #{entity.email}
            </if>
            <if test="entity.birthDay != null">
                and birth_day = #{entity.birthDay}
            </if>
            <if test="entity.version != null">
                and version = #{entity.version}
            </if>
            <if test="entity.isDeleted != null">
                and is_deleted = #{entity.isDeleted}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into user(id,name,age,email,birth_day,version,is_deleted)
        values (#{entity.id},#{entity.name},#{entity.age},#{entity.email},#{entity.birthDay},#{entity.version},#{entity.isDeleted})
    </insert>

    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into user(id,name,age,email,birth_day,version,is_deleted)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.id},#{entity.name},#{entity.age},#{entity.email},#{entity.birthDay},#{entity.version},#{entity.isDeleted})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into user(id,name,age,email,birth_day,version,is_deleted)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.id},#{entity.name},#{entity.age},#{entity.email},#{entity.birthDay},#{entity.version},#{entity.isDeleted})
        </foreach>
        on duplicate key update
        name = values(name)age = values(age)email = values(email)birth_day = values(birth_day)version =
        values(version)is_deleted = values(is_deleted)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update user
        <set>
            <if test="entity.name != null and entity.name != ''">
                name = #{entity.name},
            </if>
            <if test="entity.age != null">
                age = #{entity.age},
            </if>
            <if test="entity.email != null and entity.email != ''">
                email = #{entity.email},
            </if>
            <if test="entity.birthDay != null">
                birth_day = #{entity.birthDay},
            </if>
        </set>
        where id = #{entity.id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        update user set is_deleted = 1 where id = #{id}
    </delete>

    <select id="findAll" resultType="userPO">
        select id,name,age,email,birth_day,version,is_deleted from user
    </select>

</mapper>

